#decorados h4{
    text-align: center;
}

#decorados .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#decorados article{
    margin: 15px;
  

}
#decorados img{
    width: 100%;
   
}
@media(min-width:480px){
    #decorados article{
       width: 40%;
    }
}

